<div id="page-create-orphanage">
    <app-sidebar></app-sidebar>

    <main>
        <form class="create-orphanage-form">
            <fieldset>
                <legend>Dados</legend>

                <div class="map" leaflet [leafletOptions]="options"></div>
                <div class="input-block">
                    <label for="name">Nome</label>
                    <input type="text" id="name">
                </div>
                <div class="input-block">
                    <label for="about">Sobre <span>Máximo de 300 caracteres</span></label>
                    <textarea id="about" maxlength="300"></textarea>
                </div>
                <div class="input-block">
                    <label for="images">Fotos</label>
                    <div class="images-container">
                        <img src="assets/images/map-marker.svg" style="display: none;">
                        <label for="image[]" class="new-image">
                            <mat-icon>
                                add
                            </mat-icon>
                        </label>
                    </div>
                    <input type="file" multiple id="image[]">
                </div>
            </fieldset>

            <fieldset>
                <legend>Visitação</legend>

                <div class="input-block">
                    <label for="instructions">Instruções</label>
                    <textarea id="instructions"></textarea>
                </div>

                <div class="input-block">
                    <label for="opening_hours">Horário de funcionamento</label>
                    <input type="text" id="opening_hours">
                </div>
                <div class="input-block">
                    <label for="open_on_weekends">Atende fim de semana?</label>
                    <div class="button-select">
                        <button type="button" class="active">Sim</button>
                        <button type="button">Não</button>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="confirm-button">Confirmar</button>
        </form>
    </main>
</div>