<div id="page-landing">
    <div class="content-wrapper">
        <img src="assets/images/logo.svg" alt="Happy">
        <main>
            <h1>Leve a felicidade para o mundo </h1>
            <p>Visite orfanatos e mude o dia de muitas crianças</p>
        </main>
        <div class="location">
            <strong>Rio do Sul</strong>
            <span>Santa Catarina</span>
        </div>
        <a routerLink="/orphanages" class="enter-app">
            <mat-icon>
                arrow_forward
            </mat-icon>
        </a>
    </div>
</div>