/* You can add global styles to this file, and also import other style files */


/* MATERIAL ICONS CSS */


/* fallback */


/* USED ONLY WHEN NO HAVE INTERNET */

// @font-face {
//     font-family: 'Material Icons';
//     font-style: normal;
//     font-weight: 400;
//     src: url('assets/fonts/material/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
// }
// .material-icons {
//     font-family: 'Material Icons';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 24px;
//     line-height: 1;
//     letter-spacing: normal;
//     text-transform: none;
//     display: inline-block;
//     white-space: nowrap;
//     word-wrap: normal;
//     direction: ltr;
//     -webkit-font-feature-settings: 'liga';
//     -webkit-font-smoothing: antialiased;
// }
// mat-icon {
//     font-family: 'Material Icons' !important;
// }

/* END MATERIAL ICONS CSS */

// @font-face {
//     font-family: Nunito; // change to Nunito later
//     font-style: normal;
//     font-weight: 400;
//     src: url('assets/fonts/Nunito/Nunito-Regular.ttf') format('woff2');
// }
:root {
    --primary-color: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #ebf2f5;
}

body,
input,
button,
textarea {
    font: {
        weight: 600;
        size: 18px;
        family: Nunito, sans-serif;
    }
}

a {
    text-decoration: none;
}